.defaultButton {
  background-color: #d3d3d3;
  color: #404040;
  height: 40px;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: 3px solid #404040;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.defaultButton:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
