.defaultButton{

    background-color: blanchedalmond;
    color: #218fd9b7;
    width: 100px;
    height: 40px;
    
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 850;
    
    margin-top: 20px;
    border-color: #218fd9b7 ;
    border-width: 3px;

  }

