.flashcardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}
#backButton {
  margin-bottom: 100px;
}
.flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpageHeader{
  width: 100%;
}