.mySetsHeader{
    padding-top: 45px;
    padding-left: 10%;
    color: black;
}

.mySetContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}